<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>商品追加</title>
    <link rel="stylesheet" href="add.css" />
  </head>
  <body>
    <header>
      <h1>商品追加</h1>
      <a href="/">ホームに戻る</a>
    </header>

    <main>
      <form action="#" method="POST">
        <label for="drink-name">商品名:</label>
        <input type="text" id="drink-name" name="drink-name" required />

        <label for="drink-price">価格:</label>
        <input type="number" id="drink-price" name="drink-price" required />

        <label for="drink-temp">温度:</label>
        <select id="drink-temp" name="drink-temp">
          <option value="warm">あたたかい</option>
          <option value="cold">冷たい</option>
        </select>

        <button type="submit">追加する</button>
      </form>
    </main>
  </body>
</html>
