<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>自動販売機アプリ</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>自動販売機アプリ</h1>
      <nav>
        <ul>
          <li><a href="/add">飲み物を追加する</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- 商品のリスト -->
      <ul class="products">
        <% drinks.forEach((drink)=>{ %>
        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="#"><%= drink.name %></a>
          </h2>
          <p class="product-price">¥<%= drink.price %></p>
          <p class="product-temperature warm">
            <%= drink.temperature ? "あたたかい" :"つめたい" %>
          </p>
          <button>購入</button>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
