<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>自動販売機アプリ</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>自動販売機アプリ</h1>
      <nav>
        <ul>
          <li><a href="/add">飲み物を追加する</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- 商品のリスト -->
      <ul class="products">
        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="#">とってもうまいコーヒー</a>
          </h2>
          <p class="product-price">¥300</p>
          <p class="product-temperature warm">あたたかい</p>
          <button>購入</button>
        </li>

        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="#">フレッシュなオレンジジュース</a>
          </h2>
          <p class="product-price">¥250</p>
          <p class="product-temperature cold">冷たい</p>
          <button>購入</button>
        </li>

        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="#">爽やかなレモンティー</a>
          </h2>
          <p class="product-price">¥200</p>
          <p class="product-temperature cold">冷たい</p>
          <button>購入</button>
        </li>

        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="#"
              >クリーミーなストロベリーシェイク</a
            >
          </h2>
          <p class="product-price">¥350</p>
          <p class="product-temperature cold">冷たい</p>
          <button>購入</button>
        </li>

        <li class="product">
          <h2 class="product-name">
            <a class="product-link" href="#">ホットな抹茶ラテ</a>
          </h2>
          <p class="product-price">¥280</p>
          <p class="product-temperature warm">あたたかい</p>
          <button>購入</button>
        </li>
      </ul>
    </main>
  </body>
</html>
