/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
    /* ホバー時の色を変更 */
}

/* 商品リストのスタイル */
.products {
    display: grid;
    max-width:1200px;
    margin:auto;
    grid-template-columns: repeat(3, 1fr);
    /* 3つの等しい幅の列 */
    gap: 20px;
    /* グリッドアイテム間の間隔 */
    padding: 20px;
}

.product {
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    list-style: none;
}

.product-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* 商品リンクのスタイル */
.product-link {
    text-decoration: none;
    color: #333;
    /* リンクの色を変更 */
    transition: color 0.3s;
}

.product-link:hover {
    color: #ffcc00;
    /* ホバー時の色を変更 */
}


.product-price {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product-temperature {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.product-temperature {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #666;
    /* デフォルトの色 */
}

.product-temperature.warm {
    color: #FF6347;
    /* あたたかいの色 */
}

.product-temperature.cold {
    color: #ADD8E6;
    /* 冷たいの色 */
}